<div class="card">
<img src="/uploads/images/{{ produit.image }}" alt="" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{ produit.nom}}  </h5>
        <div class="card-title text-primary" style="font-weight: bold;
        font-size: 1.5rem;" >
            {{ produit.prix | number_format(0, ',', ' ')}} dt
            {% if produit.promo %}
            <div class="text text-warning">promo !</div>
            {% endif %}
        </div>
        <p class="text text-muted">{{ produit.description }}</p>
        <div >
            {% for c in produit.categories %}
            <em class="text-muted text-primary text-italic">#{{ c.name }}</em>
            {% endfor %}
        </div>

    </div>
</div>